<div class="uk-margin-large-top uk-margin-large-bottom">

  <h1 class="uk-heading-small">Tickets</h1>

  <div class="upcoming-tickets">

  </div>

  <table class="uk-table uk-table-small uk-table-divider uk-light">
    <thead>
    <tr>
      <th>No.</th>
      <th>Concert</th>
      <th>Date</th>
      <th class="uk-text-right">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>#12803</td>
      <td>15 Jaar De Jeugd</td>
      <td>15 Jan. 2020</td>
      <td class="uk-text-right">&euro;80</td>
    </tr>
    </tbody>
  </table>

</div>
