@import '../../../scss/base/colors';
@import '../../../scss/base/standards';

h1, h2 {
  color: white;
}

.uk-slider-items li {
  background-color: white;
  border-radius: $border-radius;

  .uk-label {
    background-color: white;
    border-radius: $border-radius;
    color: $color-primary;
    font-weight: bold;
  }
}
