<router-outlet></router-outlet>

<div class="bg-primary-gradient uk-light">
  <div class="uk-container">


    <div class="uk-margin-large-top uk-margin-large-bottom">

      <h1 class="uk-heading-small">Tickets</h1>
      <h2>The countdown begins...</h2>

      <div class="uk-slider" uk-slider="finite: true">
        <div class="slider-item-wrapper">
          <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m">
            <li *ngFor="let ticket of tickets" class="uk-margin-right">
              <app-ticket-thumbnail [ticket]="ticket"></app-ticket-thumbnail>
          </ul>
        </div>
      </div>

      <h2>All tickets</h2>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-small uk-table-striped uk-table-middle">
          <thead>
          <tr>
            <th>No.</th>
            <th>Image</th>
            <th>Concert</th>
            <th>Date</th>
            <th class="uk-text-right">Tickets</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ticket of tickets">
            <td class="uk-table-shrink uk-text-nowrap">#{{ ticket._id | prettyId }}</td>
            <td class="uk-table-shrink uk-text-nowrap">
              <img src="../../../../assets/images/concert.jpg" alt="" width="50px">
            </td>
            <td class="uk-table-expand uk-text-nowrap">{{ ticket.concert.title }}</td>
            <td class="uk-table-shrink uk-text-nowrap">{{ ticket.concert.date | prettyDate }}</td>
            <td class="uk-table-shrink uk-text-right uk-text-nowrap">{{ getTotalTickets(ticket.items)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
