@import '../../../scss/base/colors';
@import '../../../scss/base/standards';

h1, h2 {
  color: white;
}

table {

  td {
    color: white;
  }

  thead th {
    color: rgba(255, 255, 255, .7);
  }

  tr {
    border-color: rgba(255, 255, 255, .7);

    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, .1);
    }
  }

  thead tr {
    background-color: $color-primary;
  }
}

.uk-slider-items li {
  background-color: white;
  border-radius: $border-radius;

  .uk-card-default {
    box-shadow: none;
  }

  .uk-card-body, .uk-card {
    border-radius: $border-radius;
  }

  img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .uk-label {
    background-color: white;
    border-radius: $border-radius;
    //color: black;
    color: $color-primary;
    font-weight: bold;
  }
}
