
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-small uk-table-striped uk-table-middle clickable">
    <thead>
    <tr>
      <th>No.</th>
      <th>Image</th>
      <th>Title</th>
      <th>Date</th>
      <th>Venue</th>
      <th class="uk-text-right">Tickets (remaining)</th>
      <th class="uk-text-right">Tickets (total)</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let concert of pageOfConcerts; let i = index"
        (click)="selectConcert(concert)">
      <td class="uk-table-shrink">#{{ concert._id | prettyId }}</td>
      <td class="uk-table-shrink">
        <img class="uk-preserve-width" src="./assets/images/concert.jpg" width="50" alt="">
      </td>
      <td class="uk-table-expand uk-text-nowrap">{{ concert.title }}</td>
      <td class="uk-table-shrink uk-text-nowrap">{{ concert.date | prettyDate }}</td>
      <td class="uk-table-shrink uk-text-nowrap">{{ Venue[concert.venue] }}</td>
      <td class="uk-table-shrink uk-text-right">{{ concert.ticketsRemaining }}</td>
      <td class="uk-table-shrink uk-text-right">{{ concert.ticketsTotal }}</td>
      <td class="uk-table-shrink uk-text-center">
        <i (click)="removeConcert(concert._id, i)" class="fad fa-trash-alt"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-pagination [items]="concerts" (changePage)="onChangePage($event)"></app-pagination>
