@import '../../../../scss/base/_colors.scss';

a.uk-button {
  border-color: $color-white-lightest;
  color: $color-white-light;

  &:hover {
    border-color: $color-white-light;
    color: white;
  }
}

input {
  border-bottom: 1px solid $color-lightgrey;
}

table {

  thead tr th {
    color: $color-lightgrey;
  }

  tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, .05);
  }

  td {
    color: $color-darkgrey;
  }

  i {
    color: $color-lightgrey;

    &:hover {
      color: $color-darkgrey;
    }
  }
}
