
<a href="#find-concert-modal" uk-toggle type="search"
   class="uk-button uk-button-primary uk-margin-small-right">
  Search concert by ID, title or venue
  <i class="fad fa-search uk-margin-small-left"></i>
</a>

<div id="find-concert-modal" class="uk-modal-full uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-padding-large" uk-height-viewport>
    <button class="uk-modal-close-full" type="button" uk-close></button>

    <form class="uk-search uk-search-large uk-width-1-1">
      <label class="uk-text-center">
        <i class="fad fa-info-circle uk-margin-small-right"></i>
        Search by ID, title or venue.
        <input [(ngModel)]="input" [ngModelOptions]="{ standalone: true }"
               (keyup)="search()"
               class="uk-search-input" type="search" autofocus>
      </label>
    </form>

    <div class="uk-overflow-auto uk-margin-top">
      <table class="uk-table uk-table-small uk-table-striped uk-table-middle clickable">
        <thead>
        <tr>
          <th>No.</th>
          <th>Image</th>
          <th>Title</th>
          <th>Date</th>
          <th>Venue</th>
          <th>Description</th>
          <th class="uk-text-right">Tickets (remaining)</th>
          <th class="uk-text-right">Tickets (total)</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let concert of concerts;let i = index"
            (click)="selectConcert(concert)">
          <td class="uk-table-shrink">#{{ concert._id | prettyId }}</td>
          <td class="uk-table-shrink">
            <img class="uk-preserve-width" src="./assets/images/concert.jpg" width="50" alt="">
          </td>
          <td class="uk-table-expand uk-text-nowrap">{{ concert.title }}</td>
          <td class="uk-table-shrink uk-text-nowrap">{{ concert.date | date }}</td>
          <td class="uk-table-shrink uk-text-nowrap">{{ Venue[concert.venue] }}</td>
          <td class="uk-table-shrink uk-text-truncate uk-text-nowrap">{{ concert.description }}</td>
          <td class="uk-table-shrink uk-text-right">{{ concert.ticketsRemaining }}</td>
          <td class="uk-table-shrink uk-text-right">{{ concert.ticketsTotal }}</td>
          <td class="uk-table-shrink uk-text-center">
            <i (click)="removeConcert(concert._id, i)" class="fad fa-trash-alt"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

