@import '../../../../scss/base/colors';

a {
  border-color: rgba(255, 255, 255, .2);
  color: $color-white-light;

  &:hover {
    border-color: $color-white-light;
    color: white;
  }
}

input {
  border-bottom: 1px solid $color-grey-light;
}

table {

  thead tr th {
    color: $color-grey-light;
  }

  tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, .05);
  }

  td {
    color: $color-grey-dark;
  }
}
