@import '../../scss/base/colors';

p {
  margin-top: 0;
}

.company-selling-point {
  position: relative;
  text-align: center;
  background-color: $color-primary;
  margin-bottom: 4px;
  margin-top: 51px; // Account for extra space for absolute positioned icon-wrapper.
  padding-top: 60px; // Equal to icon-wrapper top position * 1.5.
  padding-bottom: 3rem;

  &:nth-child(2) {
    margin-top: 0;
    background-color: $color-primary-2;
    padding-top: 51px // Equal to icon-wrapper top position * 1.5.
  }
  &:nth-child(3) {
    margin-top: 0;
    background-color: $color-primary-3;
    padding-top: 51px // Equal to icon-wrapper top position * 1.5.
  }

  .icon-wrapper {
    position: absolute;
    right: 0; bottom: 0; left: 0;
    top: -46px; // Equal to icon height.

    &:nth-child(2) {
      top: -51px; // Equal to icon height.
    }
    &:nth-child(3) {
      top: -51px; // Equal to icon height.
    }

    .icon-box {
      margin: 0 auto;
      position: relative;
      padding: 20px;
      width: 60px;
      height: 60px;
      background-color: $color-darkgrey;
      border-radius: 100%;

      i {
        top: 50%; right: 0; bottom: 0; left: 0;
        transform: translateY(-50%);
        position: absolute;
        margin: auto;
        color: white;
      }
    }
  }

  h3 {
    color: white;
    font-weight: bold;
  }
}

@media screen and (max-width: 959px) {

  .company-selling-point:first-child {
    margin-top: calc(51px + 30px);
  }
}
