<div class="uk-container uk-margin-large-top uk-margin-large-bottom">
  <div class="uk-grid uk-grid-large">
    <div class="uk-width-1-1 uk-width-2-3@m">

      <h2 class="uk-heading-small">About CONCERTY</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis, dolorem eius esse mollitia porro quo repellendus repudiandae sapiente tenetur! Accusamus dicta dignissimos distinctio fugiat inventore officia quibusdam velit voluptatibus?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi culpa dolores error ex id illo in perferendis, placeat provident quos ratione repellat similique soluta suscipit. Eaque eos labore tempore.
      </p>

    </div>
    <div class="uk-width-1-1 uk-width-1-3@m">

      <div class="company-selling-point">
        <h2 class="uk-padding">Unrivaled deals!</h2>
        <div class="icon-wrapper">
          <div class="icon-box">
            <i class="fad fa-handshake-alt fa-3x"></i>
          </div>
        </div>
      </div>
      <div class="company-selling-point">
        <h2 class="uk-padding">Changed your mind? Just resell!</h2>
        <div class="icon-wrapper">
          <div class="icon-box">
            <i class="fad fa-repeat-alt fa-3x"></i>
          </div>
        </div>
      </div>
      <div class="company-selling-point">
        <h2 class="uk-padding">Enjoy customer benefits!</h2>
        <div class="icon-wrapper">
          <div class="icon-box">
            <i class="fad fa-gift-card fa-3x"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
