<div class="uk-container uk-margin-large-top uk-margin-large-bottom">
  <div class="uk-grid uk-grid-large">
    <div class="uk-width-1-1 uk-width-2-3@m">

      <h1 class="uk-heading-small">About Concerty</h1>
      <dl class="uk-description-list">
        <dt>Creator</dt>
        <dd>Felix Boons (2113718)</dd>
      </dl>

      <dl class="uk-description-list">
        <dt>Project description</dt>
        <dd><p>Concerty is a seller of concert tickets. It provides an overview of concerts, sorted by the concert that happens the soonest and
          allowing sorting by genre. Users can, after they create an account, buy concert tickets.
          Tickets can be viewed on their ticket page. Furthermore, users can manage their profile on their profile page.
        </p>
        <p>Artists, concerts and tickets are managed by administrators on the artist and concert management pages.
        Concert and artist entities can be easily added, edited and deleted on mentioned pages.
        A search feature helps to quickly find those entities.</p></dd>
      </dl>

      <dl class="uk-description-list">
        <dt>Entities</dt>
        <dd>USER, ARTIST, CONCERT, TICKET</dd>
      </dl>

      <dl class="uk-description-list">
        <dt>Use cases</dt>
        <dd>
          <ul>
            <li></li>
          </ul>
        </dd>
      </dl>

    </div>
    <div class="uk-width-1-1 uk-width-1-3@m">

      <div class="company-selling-point">
        <h3 class="uk-padding">We offer unrivaled deals!</h3>
        <div class="icon-wrapper">
          <div class="icon-box">
            <i class="fad fa-handshake-alt fa-3x"></i>
          </div>
        </div>
      </div>
      <div class="company-selling-point">
        <h3 class="uk-padding">Changed your mind? Just resell!</h3>
        <div class="icon-wrapper">
          <div class="icon-box">
            <i class="fad fa-repeat-alt fa-3x"></i>
          </div>
        </div>
      </div>
      <div class="company-selling-point">
        <h3 class="uk-padding">Enjoy customer benefits!</h3>
        <div class="icon-wrapper">
          <div class="icon-box">
            <i class="fad fa-gift-card fa-3x"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
