<div class="uk-container uk-margin-large-top uk-margin-large-bottom">
  <div class="uk-grid">
    <div class="uk-width-1-1 uk-width-1-2@m">
      <h2 class="uk-heading-small">Register</h2>
      <form [formGroup]="form" (ngSubmit)="register()">
        <div class="uk-grid uk-grid-small">
          <div class="uk-width-1-2@s uk-margin-small-bottom">
            <input class="uk-input" type="text" placeholder="First name"
                  formControlName="firstName">
          </div>
          <div class="uk-width-1-2@s uk-margin-small-bottom">
            <input class="uk-input" type="text" placeholder="Last name"
                   formControlName="lastName">
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <input class="uk-input" type="email" placeholder="Email"
                   formControlName="email">
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <input class="uk-input" type="password" placeholder="Password"
                   formControlName="password">
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <input class="uk-input" type="password" placeholder="Confirm password"
                   formControlName="password-confirm">
          </div>
          <div class="uk-width-1-1">
            <button [disabled]="form.invalid" class="uk-button uk-button-primary" type="submit">Register</button>
          </div>
        </div>
      </form>
    </div>

    <div class="uk-width-1-1 uk-width-1-2@m">

    </div>
  </div>
</div>
