@import '../../scss/base/colors';

#footer {
  background-color: $color-darkgrey;
  //background: -moz-linear-gradient(-30deg, rgba(51,51,51,1) 0%, rgba(67,67,67,1) 100%);
  //background: -webkit-linear-gradient(-30deg, rgba(51,51,51,1) 0%, rgba(67,67,67,1) 100%);
  //background: linear-gradient(-30deg, rgba(51,51,51,1) 0%, rgba(67,67,67,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#434343",GradientType=1);
}

a, i {
  text-decoration: none;
  color: $color-white-light !important;

  &:hover {
    color: white !important;
  }
}

li:hover a, li:hover i,
li.uk-active a, li.uk-active i {
  color: white !important;
}

.logo-style {
  font-size: 42px;

  &:hover {
    color: white;
  }
}
