<div class="uk-margin-large-top uk-margin-large-bottom">
  <h1 class="uk-heading-small">Profile</h1>
  <h2>Edit profile</h2>
  <form [formGroup]="form">
    <div class="uk-grid uk-grid-small uk-light">

      <div class="uk-width-1-2 uk-margin-small-bottom">
        <label for="firstName">First name</label>
        <input type="text" class="uk-input" id="firstName"
               formControlName="firstName">
      </div>

      <div class="uk-width-1-2 uk-margin-small-bottom">
        <label for="lastName">Last name</label>
        <input type="text" class="uk-input" id="lastName"
               formControlName="lastName">
      </div>

    </div>
  </form>


  <h2>My profile</h2>

  <div class="uk-card uk-card-default">
    <div class="uk-card-body">
      <h3 class="uk-card-header">Felix Boons</h3>

    </div>
  </div>
</div>
