
<div class="uk-margin-large-top uk-margin-large-bottom uk-light">
  <h1 class="uk-heading-small">Profile</h1>

  <ul class="uk-accordion" uk-accordion="collapsible: false">
    <li>
      <a class="uk-accordion-title" href="#">
        <h2>Edit profile</h2>
      </a>
      <div class="uk-accordion-content uk-margin-bottom uk-margin-remove-top">
        <app-edit-profile></app-edit-profile>
      </div>
    </li>

    <li>
      <a class="uk-accordion-title" href="#">
        <h2>Change password</h2>
      </a>
      <div class="uk-accordion-content uk-margin-bottom uk-margin-remove-top">
        <app-change-password></app-change-password>
      </div>
    </li>
  </ul>

  <a (click)="logout()" class="uk-button uk-button-primary">Log out</a>

</div>
