<div class="uk-margin-large-top uk-margin-large-bottom">
  <h1 class="uk-heading-small">Profile</h1>

  <div class="uk-grid uk-grid-large">
    <div class="uk-width-1-1 uk-width-expand">
      <h2>Edit profile</h2>
      <app-edit-profile></app-edit-profile>
    </div>

    <div class="uk-width-1-1 uk-width-auto">
<!--      <h2>My profile</h2>-->
      <div class="uk-card uk-card-default uk-card-large">
        <div class="uk-card-body">
          <h3>Felix Boons</h3>

          <table class="uk-table uk-table-small">
            <tbody>
              <tr>
                <td>Email</td>
                <td>felixboons@hotmail.com</td>
              </tr>
              <tr>
                <td>Birthdate</td>
                <td>14 Jan. 1995 (age 24)</td>
              </tr>
              <tr>
                <td colspan="2" class="uk-text-bold">ADMINISTRATOR</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
