@import '../../scss/base/colors';

.uk-logo {
  color: $color-primary;
  font-size: 2rem;
}

li a, .uk-button {
  font-weight: bold;
}

span#navbar-toggle-text {
  font-weight: bold;
}

.register-button:last-child {
  color: $color-grey;

  &:hover {
    color: $color-dark-grey;
  }
}

.register-button.uk-active {
  color: $color-dark-grey;
}

.login-button.uk-active {
  background-color: #0f7ae5;
}
