@import '../../scss/base/colors';

.uk-logo {
  color: $color-primary;
  font-size: 2rem;
}

li a, .uk-button {
  font-weight: bold;
}
li.uk-nav-header {
  font-weight: bold;
  color: $color-primary;
}
