@import '../../scss/base/colors';

.uk-logo {
  color: $color-primary;
  font-size: 42px;
}

a:not(.uk-logo) {
  font-size: 16px !important;
}

li a, .uk-button {
  font-weight: bold;
}

span#navbar-toggle-text {
  font-weight: bold;
}

.register-button:last-child {
  color: $color-lightgrey;

  &:hover {
    color: $color-darkgrey;
  }
}

li.uk-active a {
  color: $color-darkgrey;
}

.register-button.uk-active {
  color: $color-darkgrey;
}

.login-button.uk-active {
  background-color: #0f7ae5;
}

.fad {
  width: 30px;
  text-align: left;
}

.uk-dropdown a {
  color: $color-lightgrey;

  &:hover {
    color: $color-darkgrey;
  }
}
