<nav class="uk-navbar-container uk-padding-small uk-padding-remove-left uk-padding-remove-right" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo logo-style" routerLink="/">CONCERTY</a>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a routerLink="concerts" routerLinkActive="uk-active">Concerts</a>
      </li>
      <li>
        <a routerLink="artists" routerLinkActive="uk-active">Artists</a>
      </li>
      <li>
        <a routerLink="about" routerLinkActive="uk-active">
          About&nbsp;<span class="logo-style"> Concerty</span>
        </a>
      </li>
    </ul>

    <div class="uk-navbar-item">
      <div class="uk-inline">
        <a class="uk-button uk-button-primary" type="button">
          <i class="fad fa-user uk-margin-small-right"></i>ACCOUNT
        </a>
        <div uk-dropdown>
          <ul class="uk-nav uk-dropdown-nav">
            <li><a href="#">Tickets</a></li>
            <li><a href="#">Profile</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</nav>
