<form [formGroup]="form" (ngSubmit)="createArtist()">
  <div class="uk-grid uk-grid-small uk-light">

    <div class="uk-width-1-1 uk-margin-small-bottom">
      <label for="name">Name</label>
        <input type="text" class="uk-input" id="name"
               formControlName="name">
    </div>

    <div class="uk-width-auto uk-margin-small-bottom">
      <label for="genre">Genre</label>
        <select class="uk-select" id="genre" formControlName="genre">
          <option *ngIf="form.get('genre').invalid" [value]="null" disabled>Choose genre</option>
          <option *ngFor="let genre of genres" [value]="genre">{{ Genre[genre] }}</option>
        </select>
    </div>

    <div class="uk-width-1-1 uk-margin-small-bottom">
      <label for="biography" class="uk-display-block">Biography</label>
        <textarea class="uk-textarea" id="biography" maxlength="500" rows="4"
                  formControlName="biography"></textarea>

    </div>

<!--    ERROR MESSAGE -->
    <div *ngIf="form.touched && formInteractedWithAndInvalid() && form.invalid "
         class="uk-width-1-1 uk-margin-small-top uk-margin-small-bottom">
      <p class="text-error">
        <i class="fad fa-info-circle"></i>
        Please fill out the missing fields.
      </p>
    </div>

<!--    BUTTONS -->
    <div class="uk-width-1-1 uk-margin-small-bottom">
      <button class="uk-button uk-button-primary uk-margin-small-right" type="submit"
              [disabled]="form.invalid">
        Save artist
      </button>
      <button (click)="cancel()" class="uk-button uk-button-default">Cancel</button>
    </div>

  </div>
</form>
