@import '../../../../scss/base/colors';

input.uk-input, select.uk-select, textarea.uk-textarea {
  color: #fff !important;
}

textarea {
  min-width: 100%;
  min-height: 40px;
}

h4 {
  cursor: pointer;

  i {
    color: $color-white-light;
  }
}

h4:hover i {
  color: white !important;
}
