@import '../../../../scss/base/_colors.scss';
$color-light-grey: #c9c9c9;

input.uk-input, select.uk-select, textarea.uk-textarea {
  color: #fff !important;
}

textarea {
  min-width: 100%;
  min-height: 40px;
}

.uk-button-default {
  border-color: rgba(255, 255, 255, .2);
  color: $color-white-light;

  &:hover {
    border-color: white;
    color: white;
  }
}
