
<div class="uk-card uk-card-default">
  <div class="uk-card-media-top">
    <img src="./assets/images/concert.jpg" alt="">
  </div>
  <div class="uk-card-body uk-text-left">
    <div class="uk-card-badge uk-label">
      {{ concert.date | prettyDaysRemaining }}
    </div>
    <h3 class="uk-card-title uk-margin-small-bottom">{{ concert.title }}</h3>
    <p><i class="fad fa-map-marked-alt"></i>{{ Venue[concert.venue] }}</p>
    <p><i class="fad fa-calendar-day"></i>{{ concert.date | prettyDate }}</p>
    <a [routerLink]="['/concerts', concert._id]"
       class="uk-button uk-button-primary">SHOW CONCERT</a>
  </div>
</div>
