
<div class="uk-container uk-margin-large-top uk-margin-large-bottom">
  <router-outlet></router-outlet>

  <h1 class="uk-heading-small uk-margin-remove-top">Concerts</h1>
  <h2>Discover concerts</h2>

  <h2>All concerts</h2>
  <div class="uk-align-center">
    <div uk-filter="target: .js-filter">
      <ul class="uk-subnav uk-subnav-pill">
        <li class="uk-margin-small-bottom" uk-filter-control><a href="#">All</a></li>
        <li class="uk-margin-small-bottom" uk-filter-control=".MSG"><a href="#">MADISON SQUARE GARDEN</a></li>
        <li class="uk-margin-small-bottom" uk-filter-control=".ZIGGO_DOME"><a href="#">ZIGGO DOME</a></li>
        <li class="uk-margin-small-bottom" uk-filter-control=".HONDA_CENTER"><a href="#">HONDA CENTER</a></li>
        <li class="uk-margin-small-bottom" uk-filter-control=".MB_SUPERDOME"><a href="#">MERCEDES-BENZ SUPERDOME</a></li>
        <li class="uk-margin-small-bottom" uk-filter-control=".BKIA"><a href="#">Bukit Kiara Indoor Arena</a></li>
        <li class="uk-margin-small-bottom" uk-filter-control=".KGC_YUM_CENTER"><a href="#">KFC Yum! Center</a></li>
        <li class="uk-margin-small-bottom" uk-filter-control=".POPPODIUM_013"><a href="#">013 Poppodium</a></li>
        <li class="uk-margin-small-bottom" uk-filter-control=".PARADISO"><a href="#">Paradiso</a></li>
        <li class="uk-margin-small-bottom" uk-filter-control=".BRABANTHALLEN"><a href="#">Brabanthallen</a></li>
      </ul>

      <ul class="js-filter uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid>
        <li  *ngFor="let concert of concerts"
             [class]="concert.venue">
          <app-concert-thumbnail [concert]="concert"></app-concert-thumbnail>
        </li>
      </ul>

    </div>
  </div>
</div>
