@import '../../scss/base/_colors.scss';

a.uk-button-text {
  //text-transform: none !important;
  color: $color-primary;

  &:hover {
    color: $color-primary-hover;
  }

  &:before {
    border-color: $color-primary-hover !important;
  }
}
