@import '../../scss/base/colors';

$button-primary-background: $color-primary;
$button-primary-color: white;

.uk-button-primary.button-preserve-color {
  background-color: $color-primary !important;
  color: white !important;

  &:hover {
    background-color: $color-primary-hover !important;
  }
}


.uk-button {
  font-weight: bold !important;

  &:disabled {
    cursor: not-allowed;
  }
}

.uk-button-white {
  background-color: $color-white-light;
  color: $color-primary !important;

  &:disabled {
    color: $color-grey !important;

    &:hover {
      background-color: $color-white-light;
    }
  }

  &:hover {
    background-color: white;
    color: $color-primary;
  }
}


.uk-light {

  .uk-button-default {
    border-color: rgba(255, 255, 255, .2) !important;
    color: $color-white-light !important;

    &:hover {
      border-color: white !important;
      color: white !important;
    }
  }
}

