@import '../../scss/base/colors';

$button-primary-background: $color-primary;
$button-primary-color: white;

$button-secondary-background: $color-darkgrey;

.uk-button {
  font-weight: bold !important;
}

.uk-button:disabled {
  cursor: not-allowed;
}

.uk-light {

  .uk-button-default {
    border-color: $color-white-lightest !important;

    &:hover {
      border-color: $color-white-light !important;
    }
  }

  .uk-button-primary:not(:disabled) {
    border: none !important;
    background-color: white !important;
    color: $color-darkgrey !important;

    &:hover {
      color: white !important;
      background-color: $color-white-lightest !important;
    }
  }

  .uk-button-primary:disabled,
  .uk-button-primary:disabled:hover {
    border: none !important;
    box-sizing: border-box;
    background-color: $color-white-light;
  }

  .uk-button-primary.button-preserve-color {
    background-color: $color-primary !important;
    color: white !important;

    &:hover {
      background-color: $color-primary-hover !important;
    }
  }
}

