@import '../../scss/base/colors';
@import '../../scss/base/standards';

.uk-card-default {
  box-shadow: none !important;
}

.uk-card-body, .uk-card {
  border-radius: $border-radius;

  img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .uk-label {
    background-color: white;
    border-radius: $border-radius;
    color: $color-primary !important;
    font-weight: bold;
  }
}
