@import '../../scss/base/colors';
@import '../../scss/base/standards';

.uk-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08) !important;
}

.uk-card-body, .uk-card {
  border-radius: $border-radius;

  img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .uk-label {
    padding: 10px 15px !important;
    background-color: white;
    border-radius: $border-radius;
    color: $color-darkgrey !important;
    font-weight: bold;
  }
}
