@import '../../scss/base/_colors.scss';

$base-heading-font-family: 'Source Sans Pro', sans-serif;
$base-heading-color: $color-darkgrey;
$base-heading-font-weight: 700;

h1.uk-heading-small {
  color: $color-darkgrey;
}

.uk-light {

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}
