@import '../../scss/base/_colors.scss';

h2.uk-heading-small {
  display: inline-block;
  margin-bottom: 40px;
  padding: 4px 20px 0;
  border-top: 4px solid $color-secondary;
  border-right: 4px solid $color-secondary;
  //border-top-right-radius: 40px;
  //-webkit-border-top-right-radius: 40px;
  //-moz-border-radius-topright: 40px;
}
