@import '../../scss/base/colors';
@import '../../scss/base/standards';

.uk-notification {

  .uk-notification-message {
    box-shadow: $box-shadow-ultra !important;

    i {
      color: $color-primary;
    }

    span {
      color: $color-darkgrey !important;
    }
  }
}
