@import '../../scss/base/colors';
@import '../../scss/base/standards';

.uk-notification {

  .uk-notification-message {
    font-size: 18px;
    color: $color-darkgrey;
    box-shadow: $box-shadow-ultra;
  }

  .uk-notification-message-primary i {
    color: $color-primary;
  }

  .uk-notification-message-danger i {
    color: $color-danger;
  }
}

.notification-button {
  margin: 0 12px 12px !important;
}
