@import '../../scss/base/_colors.scss';

table.uk-table {

  thead tr {
    background-color: inherit !important;

    th {
      color: $color-white-light;
    }
  }

  td {
    color: white;
  }

  // Clickable remove icon
  i.fad {
    color: $color-white-light;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}
