@import '../../scss/base/colors';

table.uk-table {

  thead tr {
    background-color: inherit !important;
  }
}

.uk-light {

  .uk-table {

    td {
      color: white;
    }

    th {
      color: $color-white-light;
    }

    // Clickable remove icon
    i.fad {
      cursor: pointer;
      color: $color-white-light;

      &:hover {
        color: white;
      }
    }
  }

  .uk-table.clickable tr:hover {
    cursor: pointer;
    background-color: $color-lightblue-transparent;
  }
}
