@import '../../scss/base/colors';

table.uk-table thead tr {
  cursor: default !important;
  background-color: inherit !important;
}

.uk-table.clickable tr:hover {
  cursor: pointer;
  background-color: $color-lightblue-transparent !important;
}

.uk-light {

  .uk-table {

    td {
      color: white;
    }

    th {
      color: $color-white-light;
    }

    i {
      cursor: pointer;
      color: $color-white-light;

      &:hover {
        color: white;
      }
    }
  }

  .uk-table.clickable tr:hover {
    background-color: $color-lightblue-transparent;
  }
}
