

<a class="uk-button uk-button-default uk-margin-small-right" href="#modal-full" uk-toggle type="search">
  <span class="uk-margin-small-right">Search artist by name or genre...</span>
  <i class="fad fa-search fa-lg"></i>
</a>

<div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <form class="uk-search uk-search-large">
      <input class="uk-search-input uk-text-center" type="search" placeholder="search..." autofocus>
    </form>

    <table class="uk-table">
      <tbody>
        <tr>
          <td>Something</td>
        </tr>
        <tr>
          <td>Something</td>
        </tr>
        <tr>
          <td>Something</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

