
<a *ngIf="!clickToAdd" href="#find-artist-modal" uk-toggle type="search"
   class="uk-button uk-button-primary">
  Search artist by ID, name or genre
  <i class="fad fa-search uk-margin-small-left"></i>
</a>
<a *ngIf="clickToAdd" href="#find-artist-modal" uk-toggle type="search"
   class="uk-button uk-button-primary">
  Add artists to concert
  <i class="fad fa-plus-circle uk-margin-small-left"></i>
</a>

<div id="find-artist-modal" class="uk-modal-full uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-padding-large" uk-height-viewport>
    <button class="uk-modal-close-full" type="button" uk-close></button>

    <form class="uk-search uk-search-large uk-width-1-1">
      <label class="uk-text-center">
        <i class="fad fa-info-circle uk-margin-small-right"></i>
        Search by ID, name or genre.
        <input [(ngModel)]="input" [ngModelOptions]="{ standalone: true }"
               (keyup)="search()"
               class="uk-search-input" type="search" autofocus>
      </label>
    </form>

    <div class="uk-overflow-auto uk-margin-top">
      <table class="uk-table uk-table-small uk-table-striped uk-table-middle clickable">
        <thead>
        <tr>
          <th>No.</th>
          <th>Image</th>
          <th>Name</th>
          <th>Biography</th>
          <th>Genre</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artist of artists"
            (click)="selectArtist(artist)">
          <td class="uk-table-shrink">#{{ getLastDigitsOfId(artist._id) }}</td>
          <td class="uk-table-shrink">
            <img class="uk-preserve-width" src="./assets/images/tydolla.png" width="50" alt="">
          </td>
          <td class="uk-table-expand uk-text-nowrap">{{ artist.name }}</td>
          <td class="uk-table-shrink uk-text-truncate">{{ artist.biography }}</td>
          <td class="uk-table-shrink uk-text-nowrap">{{ Genre[artist.genre] }}</td>
          <td class="uk-table-shrink uk-text-center">
            <i (click)="removeArtist(artist._id)" class="fad fa-trash-alt"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

