<div class="uk-margin-large-top uk-margin-large-bottom uk-light">

  <h1 class="uk-heading-small">Concert management</h1>
  <h2>Find concert</h2>
  <app-find-concert [concerts]="concerts"></app-find-concert>

  <h2>New concert</h2>
  <app-new-concert></app-new-concert>

  <h2>Edit concert</h2>
  <div *ngIf="selectedConcert; else editConcertInfo">
    <app-edit-concert [concert]="selectedConcert" [index]="selectedConcertIndex" (formCanceled)="editConcertCanceled()"></app-edit-concert>
  </div>
  <ng-template #editConcertInfo>
    <p class="text-info">
      <i class="fad fa-info-circle uk-margin-small-right"></i>
      <span>Select a concert to edit it.</span>
    </p>
  </ng-template>

  <h2>All concerts</h2>
  <app-all-concerts [concerts]="concerts" (concertSelected)="concertSelected($event)"></app-all-concerts>

</div>
