<div class="uk-margin-large-top uk-margin-large-bottom uk-light">

  <h1 class="uk-heading-small">Concert management</h1>
  <h2>Find concert</h2>
  <app-find-concert></app-find-concert>

  <h2>New concert</h2>
  <app-new-concert></app-new-concert>

  <h2>All concerts</h2>
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-small uk-table-striped uk-table-middle">
      <thead>
        <tr>
          <th>No.</th>
          <th>Image</th>
          <th>Title</th>
          <th class="uk-text-right">Tickets (remaining)</th>
          <th class="uk-text-right">Tickets (total)</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let concert of concerts; let i = index">
          <td class="uk-table-shrink">#10107</td>
          <td class="uk-table-shrink">
            <img class="uk-preserve-width" src="./assets/images/concert.jpg" width="50" alt="">
          </td>
          <td class="uk-table-expand">15 Jaar De Jeugd</td>
          <td class="uk-table-shrink uk-text-right">4.586</td>
          <td class="uk-table-shrink uk-text-right">15.000</td>
          <td class="uk-table-shrink uk-text-center">
            <i (click)="removeConcert(i)" class="fad fa-trash-alt"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
