<div class="uk-margin-small-top">
  <ul *ngIf="pager.pages && pager.pages.length && pager.totalPages > 1" class="uk-pagination uk-flex-right">

    <li [ngClass]="{'disabled': pager.currentPage === 1}" class="page-item first-item">
      <a (click)="setPage(1)" class="page-link">
        <i class="fad fa-arrow-to-left fa-sm"
           [ngClass]="pager.currentPage === 1 ? 'active' : '' ">
        </i>
      </a>
    </li>

    <li [ngClass]="{disabled: pager.currentPage === 1}" class="page-item previous-item">
      <a (click)="setPage(pager.currentPage - 1)" class="page-link">
        <i class="fad fa-angle-left fa-sm"
           [ngClass]="{active:pager.currentPage === 1}">
        </i>
      </a>
    </li>

    <li *ngFor="let page of pager.pages"
        [ngClass]="{active:pager.currentPage === page}"
        class="page-item number-item">
      <a (click)="setPage(page)" class="page-link">{{ page }}</a>
    </li>

    <li [ngClass]="{'disabled': pager.currentPage === pager.totalPages}" class="page-item next-item">
      <a (click)="setPage(pager.currentPage + 1)" class="page-link">
        <i class="fad fa-angle-right fa-sm"
           [ngClass]="{active: pager.currentPage === maxPages}">
        </i>
      </a>
    </li>

    <li [ngClass]="{disabled: pager.currentPage === pager.totalPages}" class="page-item last-item">
      <a (click)="setPage(pager.totalPages)" class="page-link">
        <i class="fad fa-arrow-to-right fa-sm"
           [ngClass]="pager.currentPage === maxPages ? 'active' : '' ">
        </i>
      </a>
    </li>
  </ul>
</div>
