<div id="offcanvas-nav" uk-offcanvas="mode: push; overlay: true">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-default">

      <li routerLink="" routerLinkActive="uk-active" [routerLinkActiveOptions]="{ exact: true }">
        <a>HOME</a>
      </li>
      <li routerLink="concerts" routerLinkActive="uk-active"><a>CONCERTS</a></li>
      <li routerLink="artists" routerLinkActive="uk-active"><a>ARTISTS</a></li>
<!--      <li routerLink="about" routerLinkActive="uk-active">-->
<!--        <a>ABOUT <span class="logo-style">CONCERTY</span></a>-->
<!--      </li>-->

      <li class="uk-nav-header">ACCOUNT</li>

<!--      Not authenticated -->
      <li *ngIf="!isAuthenticated" class="list-item-indent"
          routerLink="login" routerLinkActive="uk-active"><a>LOG IN</a></li>
      <li *ngIf="!isAuthenticated" class="list-item-indent"
          routerLink="register" routerLinkActive="uk-active"><a>REGISTER</a></li>

<!--      Authenticated -->
      <li *ngIf="isAuthenticated" class="list-item-indent"
          routerLink="account/tickets" routerLinkActive="uk-active">
        <a>
          <i class="fad fa-qrcode"></i>
          TICKETS
        </a>
      </li>
      <li *ngIf="isAuthenticated" class="list-item-indent"
          routerLink="account/profile" routerLinkActive="uk-active">
        <a>
          <i class="fad fa-user"></i>
          PROFILE
        </a>
      </li>
      <li *ngIf="isAuthenticated" class="uk-nav-divider"></li>
      <li *ngIf="isAuthenticated" class="list-item-indent"
          (click)="logout()">
        <a>
          <i class="fad fa-sign-out-alt"></i>
          LOG OUT
        </a>
      </li>

      <!--      Administrator -->
      <li *ngIf="isAuthenticated && isAdministrator" class="uk-nav-header">ADMINISTRATOR</li>
      <li *ngIf="isAuthenticated && isAdministrator" class="list-item-indent"
          routerLink="/administrator/artists" routerLinkActive="uk-active">
        <a><i class="fad fa-user-music"></i>ARTIST MANAGEMENT</a>
      </li>
      <li *ngIf="isAuthenticated && isAdministrator" class="list-item-indent"
          routerLink="/administrator/concerts" routerLinkActive="uk-active">
        <a><i class="fad fa-calendar-alt"></i>CONCERT MANAGEMENT</a>
      </li>

    </ul>
  </div>
</div>
