<div id="offcanvas-nav" uk-offcanvas="mode: push; overlay: true">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-default">

      <li routerLink="" routerLinkActive="uk-active" [routerLinkActiveOptions]="{ exact: true }">
        <a>HOME</a>
      </li>
      <li routerLink="concerts" routerLinkActive="uk-active"><a>CONCERTS</a></li>
      <li routerLink="artists" routerLinkActive="uk-active">
        <a>ARTISTS</a>
      </li>
      <li routerLink="about" routerLinkActive="uk-active">
        <a>ABOUT <span class="logo-style">CONCERTY</span></a>
      </li>

    </ul>
  </div>
</div>
