<label for="datepicker">Date</label>
<mat-form-field class="uk-width-1-1">
  <input id="datepicker"
         matInput [matDatepicker]="datepicker"
         [min]="today"
         [(ngModel)]="date"
         (focus)="datepicker.open(); markDatepickerAsTouched()"
         (onClick)="datepicker.open(); markDatepickerAsTouched()"
         (dateChange)="setDateValue($event)">
  <mat-datepicker-toggle matSuffix
                         [for]="datepicker"></mat-datepicker-toggle>
  <mat-datepicker #datepicker
                  startView="year"
                  [startAt]="date"></mat-datepicker>
</mat-form-field>
