<div class="uk-margin-large-top uk-margin-large-bottom uk-light">

  <h1 class="uk-heading-small">Artist management</h1>
  <h2>Find artist</h2>
  <app-find-artist></app-find-artist>

  <h2>New artist</h2>
  <app-new-artist></app-new-artist>

  <h2>All artists</h2>

  <div class="uk-overflow-auto">
    <table class="uk-overflow-auto uk-table uk-table-small uk-table-striped uk-table-middle">
      <thead>
      <tr>
        <th>No.</th>
        <th>Image</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Biography</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let artist of artists; let i = index">
        <td class="uk-table-shrink">{{ '#2'}}</td>
        <td class="uk-table-shrink">
          <img class="uk-preserve-width" src="./assets/images/joyner.jpg" width="50" alt="">
        </td>
        <td class="uk-table-expand uk-text-nowrap">{{ artist.name }}</td>
        <td class="uk-table-shrink uk-text-nowrap">{{ Genre[artist.genre] }}</td>
        <td class="uk-text-truncate">{{ artist.biography }}</td>
        <td class="uk-table-shrink uk-text-center">
          <i (click)="removeArtist(i)" class="fad fa-trash-alt"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
