<div class="uk-margin-large-top uk-margin-large-bottom uk-light">
  <h1 class="uk-heading-small">Artist management</h1>

  <ul class="uk-accordion" uk-accordion="multiple: true">
    <li class="uk-open">
      <a class="uk-accordion-title" href="#">
        <h2>Find artist</h2>
      </a>
      <div class="uk-accordion-content uk-margin-bottom uk-margin-remove-top">
        <app-find-artist [artists]="artists"
                         (artistSelected)="artistSelected($event)"></app-find-artist>
      </div>
    </li>

    <li>
      <a class="uk-accordion-title" href="#">
        <h2>New artist</h2>
      </a>
      <div class="uk-accordion-content uk-margin-bottom uk-margin-remove-top">
        <app-new-artist></app-new-artist>
      </div>
    </li>

    <li>
      <a class="uk-accordion-title" href="#">
        <h2>Edit artist</h2>
      </a>
      <div class="uk-accordion-content uk-margin-bottom uk-margin-remove-top">
        <div *ngIf="selectedArtist; else editArtistInfo">
          <app-edit-artist [artist]="selectedArtist" [index]="selectedArtistIndex"
                           (formCanceled)="editArtistCanceled()"></app-edit-artist>
        </div>
        <ng-template #editArtistInfo>
          <p class="text-info">
            <i class="fad fa-info-circle uk-margin-small-right"></i>
            <span>Select a concert to edit it.</span>
          </p>
        </ng-template>
      </div>
    </li>
  </ul>

  <h2>All artists</h2>
  <app-all-artists [artists]="artists"
                   (artistSelected)="artistSelected($event)"></app-all-artists>
</div>
