@import '../../../../scss/base/colors';
@import '../../../../scss/base/standards';

#buy-tickets {
  background: $color-darkgrey;
  box-shadow: $box-shadow;
  //border-radius: $border-radius;
}

@media all and (max-width: 639px) {

  td {
    white-space: normal;
  }
}
