
<div id="buy-tickets" class="uk-padding-large uk-light">

  <div class="uk-display-inline-block">
    <h2>Tickets</h2>

    <table class="uk-table uk-table-small uk-table-shrink uk-table-divider uk-table-middle
                  uk-margin-remove-bottom">
      <tbody>
      <tr>
        <td class="uk-text-nowrap">Regular seats</td>
        <td class="uk-text-nowrap">&euro;{{ concert.price }},-</td>
        <td class="uk-table-shrink">
          <a (click)="buyTicket()" class="uk-button uk-button-primary uk-text-nowrap">BUY TICKET</a>
        </td>
      </tr>

      <tr>
        <td class="uk-text-nowrap">Premium seats</td>
        <td class="uk-text-nowrap">&euro;{{ concert.price }},-</td>
        <td class="uk-table-shrink">
          <a (click)="buyTicket()" class="uk-button uk-button-primary uk-text-nowrap">BUY TICKET</a>
        </td>
      </tr>

      <tr>
        <td class="uk-text-nowrap">Golden circle</td>
        <td class="uk-text-nowrap">&euro;{{ concert.price }},-</td>
        <td class="uk-table-shrink">
          <a (click)="buyTicket()" class="uk-button uk-button-primary uk-text-nowrap">BUY TICKET</a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
