@import '../../../../scss/base/colors';
@import '../../../../scss/base/standards';

#buy-tickets {
  background: $color-darkgrey;
  box-shadow: $box-shadow;
}

input {
  min-width: 100px;
}

@media all and (max-width: 959px) {

  .uk-table-responsive td.uk-text-nowrap {
    width: calc(100% - 20px) !important;
  }
}

.no-divider {
  border-top: none !important;
}
