@import '../../scss/base/colors';
@import '../../scss/base/standards';

form {
  padding: 70px;
}

.background-image {
  min-height: calc(100vh - 110px); // Reduce 100% view height by navbar height (110px).
  box-sizing: border-box;

  background-image: url("../../../assets/images/concert-image-gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

.custom-card-wrapper {
  max-width: 700px !important;

  .custom-card {
    background-color: white;
    box-shadow: $box-shadow;
  }
}

h5.text-color-grey {
  color: $color-grey;
  font-weight: normal;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 20px;
  margin-right: 0;
}



@media all and (max-width: 959px) {

  form {
    padding: 45px;
  }
}
