
$color-primary: rgb(30, 135, 240);
//$color-secondary: #0beb69;
//$color-secondary: #0ae168;
$color-secondary: #195187;
//$color-secondary-2: #0bcd65;
$color-secondary-2: #193e73;
//$color-secondary-3: #0baf58;
$color-secondary-3: #192f5f;

$color-grey-light: #999;
$color-grey: #7e7e7e;
$color-dark-grey: #333;
$color-black: #111;
