@import 'typography';

$color-primary: rgb(30, 135, 240);
$color-secondary: #0beb69;
$color-secondary-2: #0bcd65;
$color-secondary-3: #0baf58;
$color-tertiary: #C6C4C5;

$color-grey: rgb(244, 244, 244);
$color-black: #111;
