
$color-primary: rgb(30, 135, 240);
$color-primary: rgb(30, 135, 240);
$color-secondary: #195187;
$color-secondary-2: #193e73;
$color-secondary-3: #192f5f;

$color-silver: #fafafa;

$color-grey-light: #999;
$color-grey: #7e7e7e;
$color-grey-dark: #333;
$color-black: #111;

$color-white-lightest: rgba(255, 255, 255, .2);
$color-white-light: rgba(255, 255, 255, .7);
