@import 'typography';

$default-spacing: 30px;
$half-spacing: $default-spacing/2;

$color-primary: #4BFFA5;
$color-secondary: #040F3D;
$color-tertiary: #C6C4C5;

$color-grey: rgb(244, 244, 244);
$color-black: #111;

html {

}

i {
  margin-left: $half-spacing;
}
