
<div class="uk-overflow-auto uk-margin-top">
  <table class="uk-table uk-table-small uk-table-striped uk-table-middle clickable">
    <thead>
    <tr>
      <th>No.</th>
      <th>Image</th>
      <th>Name</th>
      <th>Biography</th>
      <th>Genre</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let artist of artists">
      <td class="uk-table-shrink">#{{ artist._id | prettyId }}</td>
      <td class="uk-table-shrink">
        <img class="uk-preserve-width" src="./assets/images/tydolla.png" width="50" alt="">
      </td>
      <td class="uk-table-expand uk-text-nowrap">{{ artist.name }}</td>
      <td class="uk-table-shrink uk-text-truncate">{{ artist.biography }}</td>
      <td class="uk-table-shrink uk-text-nowrap">{{ Genre[artist.genre] }}</td>
      <td class="uk-table-shrink uk-text-center">
        <i (click)="removeArtist(artist._id)" class="fad fa-trash-alt"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
