<form [formGroup]="form">
  <div class="uk-grid uk-grid-small uk-light">

    <div class="uk-width-1-1 uk-margin-small-bottom">
      <label for="currentPassword">Current password</label>
      <input type="password" class="uk-input" id="currentPassword"
             formControlName="currentPassword">
    </div>

    <div class="uk-width-1-1 uk-margin-small-bottom">
      <label for="newPassword">New password</label>
      <input type="password" class="uk-input" id="newPassword"
             formControlName="newPassword">
    </div>

    <div class="uk-width-1-1 uk-margin-small-bottom">
      <label for="passwordConfirm">Confirm password</label>
      <input type="password" class="uk-input" id="passwordConfirm"
             formControlName="passwordConfirm">
    </div>

    <div class="uk-width-1-1">
      <button [disabled]="form.invalid" type="submit"
              class="uk-button uk-button-secondary uk-margin-small-right">Save changes</button>
      <button class="uk-button uk-button-default">Cancel</button>
    </div>

  </div>
</form>
