<div class="bg-darkgrey uk-padding-large uk-light">

  <div class="uk-grid">
    <div class="uk-width-1-1 uk-width-3-5@l">
      <div class="uk-label-copy">{{ concert.date | prettyDaysRemaining }}</div>
      <img src="./assets/images/concert.jpg" [alt]="concert.title" class="uk-margin-medium-bottom">
    </div>

    <div class="uk-width-1-1 uk-width-2-5@l">
      <h1 class="uk-heading-small uk-margin-small-bottom">{{ concert.title }}</h1>
      <p><i class="fad fa-map-marked-alt"></i>{{ Venue[concert.venue] }}</p>
      <p><i class="fad fa-calendar-day"></i>{{ concert.date | prettyDate }}</p>
      <p class="uk-text-justify uk-margin-remove-bottom uk-margin-top">{{ concert.description }}</p>
    </div>

    <div class="uk-width-1-1 uk-margin-medium-top">
      <h2>Lineup</h2>

      <div *ngIf="concert.artists.length > 0; else emptyLineupInfo"
           class="uk-child-width-1-2 uk-child-width-1-3s uk-child-width-1-4@m"
           uk-grid="masonry: true">
        <app-artist-thumbnail *ngFor="let artist of concert.artists"
                              [artist]="artist"></app-artist-thumbnail>
      </div>
      <ng-template #emptyLineupInfo>
        <i class="fad fa-info-circle"></i>
        <span>Artists will be added to the lineup soon.</span>
      </ng-template>
    </div>

  </div>
</div>

<div *ngIf="isUpcoming" class="uk-width-1-1">
  <app-buy-tickets [concert]="concert"></app-buy-tickets>
</div>
