
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tastic-tickets-client-primary: mat-palette($mat-indigo);
$tastic-tickets-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tastic-tickets-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tastic-tickets-client-theme: mat-light-theme($tastic-tickets-client-primary, $tastic-tickets-client-accent, $tastic-tickets-client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tastic-tickets-client-theme);

// 1. Imports
@import 'app/scss/base/standards';
@import 'app/scss/base/colors';

@import 'app/scss/components/navbar';
@import 'app/scss/components/header';
@import 'app/scss/components/logo';
@import 'app/scss/components/header';
@import 'app/scss/components/anchor';
@import 'app/scss/components/table';
@import 'app/scss/components/card';
@import 'app/scss/components/form';
@import 'app/scss/components/btn';
@import 'app/scss/components/slider';
@import 'app/scss/components/notification';
@import 'app/scss/components/accordion';
@import 'app/scss/components/loader';

@import 'app/scss/behaviour/user-select';

// Navbar
$navbar-background: white;
$navbar-nav-item-color: $color-lightgrey;
$navbar-nav-item-active-color: $color-darkgrey;
$navbar-nav-item-hover-color: $color-darkgrey;

// Pill (used in .uk-filter)
$subnav-pill-item-background: $color-grey;
$subnav-pill-item-color: white;

.uk-subnav-pill li.uk-active a,
.uk-subnav-pill li:hover a {
  background-color: $color-primary !important;
  color: white !important;
}

// Tooltip
$tooltip-background: white;
$tooltip-color: $color-darkgrey;
$tooltip-border-radius: none;
.uk-tooltip {
  padding: 15px !important;
}



// 2. Import default variables and available mixins.
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../node_modules/uikit/src/scss/uikit-theme";

