@import 'app/scss/base/colors';

// 1. Theme overwrites

// Headers
$base-heading-font-family: 'Source Sans Pro', sans-serif;
$base-heading-color: $color-primary;
$base-heading-font-weight: 700;

// Navbar
$navbar-background: white;
$navbar-nav-item-color: $color-grey-light;
$navbar-nav-item-active-color: $color-grey-dark;
$navbar-nav-item-hover-color: $color-grey-dark;

// Buttons
.uk-button {
  font-weight: bold !important;

  &:disabled {
    cursor: not-allowed;
  }
}

.uk-button-white {
  background-color: $color-white-light;
  color: $color-secondary !important;

  &:disabled {
    color: $color-grey !important;

    &:hover {
      background-color: $color-white-light;
    }
  }

  &:hover {
    background-color: white;
    color: $color-secondary;
  }
}

$button-primary-background: $color-primary;
$button-primary-color: white;

$button-secondary-background: $color-secondary;
$button-secondary-color: white;

// Sections
$background-primary-background: $color-primary;
$background-secondary-background: $color-secondary;



// 2. Import default variables and available mixins.
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../node_modules/uikit/src/scss/uikit-theme";
